.header {
  background-color: #f8f9fa;
}

.aside-container {
  height: 100vh;
  padding: 32px 0;
}

//logo
.aside-brand {
  padding: 0 32px 17px 32px;
  margin: 0;
  width: 296px;
}

//a list
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 32px;
}

//Andy Chen
.header-end {
  padding-left: 32px;
}
